[Unit]
Description=Nfancurve service
After=default.target

[Service]
ExecStartPre=/bin/sleep 20
ExecStart=/bin/bash /usr/local/bin/nfancurve -c /etc/nfancurve.conf -s 2
KillSignal=SIGINT

[Install]
WantedBy=default.target
